html {
  font-size: 62.5%; /*16px x 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
:root {
  --dark-blue: #203040;
  --white: #ffffff;
  --black: #111111;
  --orange: #ff8000;
  --grey: #c0c0c0;
  --light-white: #f8f8f8;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--dark-blue);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--dark-blue);
  color: var(--white);
}
/* Common  */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--orange);
}
ul {
  list-style: none;
}
/* Header */
header a {
  color: var(--white);
  padding: 1rem;
}
a.brand {
  color: var(--white);
  font-size: 3rem;
  font-size: bold;
}
.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
/* image */
img {
  border-radius: 0.5rem;
}
img.medium {
  max-width: 29rem;
  width: 100%;
}
/* Card */
.card {
  border: 0.1rem var(--grey) solid;
  background-color: var(--light-white);
  border-radius: 0.5rem;
  margin: 2rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: var(--orange);
  margin: 0.1rem;
}
