html {
  font-size: 62.5%; /*16px x 62.5 = 10px = 1rem*/
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
#root {
  height: 100%;
}
:root {
  --dark-blue: #203040;
  --white: #ffffff;
  --black: #111111;
  --orange: #ff8000;
  --grey: #c0c0c0;
  --light-white: #f8f8f8;
  --greenAlert: #20a20a;
  --redAlert: #a02020;
}
/* Layout */
.grid-container {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}
header {
  grid-area: header;
  background-color: var(--dark-blue);
}
main {
  grid-area: main;
  padding: 1rem;
}
footer {
  grid-area: footer;
  background-color: var(--dark-blue);
  color: var(--white);
}
/* Common  */
h1 {
  font-size: 1.8rem;
  padding: 1rem 0;
}
h2 {
  font-size: 1.6rem;
  padding: 1rem 0;
}
a {
  text-decoration: none;
  color: var(--black);
}
a:hover {
  color: var(--orange);
}
ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
li {
  margin-top: 1rem;
}
input,
select,
textarea,
button,
.linkButton {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 0.1rem var(--grey) solid;
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
input[type="radio"] {
  transform: scale(2);
  cursor: pointer;
}
.pointer {
  cursor: pointer;
}
button,
.linkButton {
  background-color: #f8f8f8;
  cursor: pointer;
}
input:hover,
select:hover,
textarea:hover,
button:hover {
  border: 0.1rem #404040 solid;
}
.linkButton:hover {
  border: 0.1rem #404040 solid;
  color: white;
}
button.primary,
.linkButton {
  background-color: var(--orange);
}
button.block {
  width: 100%;
}
button.small {
  font-size: 1.2rem;
}
/* Header */
header a {
  color: var(--white);
  padding: 1rem;
}
a.brand {
  color: var(--white);
  font-size: 3rem;
  font-size: bold;
}
.badge {
  background-color: #f02020;
  color: #ffffff;
  border-radius: 50%;
  padding: 0.3rem 0.7rem;
  font-size: 1.4rem;
  margin-left: 0.4rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.row.center {
  justify-content: center;
}
.row.top {
  align-items: flex-start;
}
.row.start {
  justify-content: flex-start;
}
.col-1 {
  flex: 1 1 25rem;
}
.col-2 {
  flex: 2 1 50rem;
}
.col-3 {
  flex: 32 1 75rem;
}
.min-30 {
  min-width: 30rem;
}
.p-1 {
  padding: 0.5rem;
}
/* image */
img {
  border-radius: 0.5rem;
}
img.small {
  max-width: 5rem;
  width: 100%;
}
img.medium {
  width: 29rem;
  max-width: 100%;
  height: 27rem;
  max-height: 100%;
}
img.large {
  width: 100%;
}
/* Card */
.card {
  border: 0.1rem var(--grey) solid;
  background-color: var(--light-white);
  border-radius: 0.5rem;
  margin: 2rem;
}
.card-body {
  padding: 1rem;
}
.card-body > * {
  margin-bottom: 0.5rem;
}
.price {
  font-size: 2rem;
}
/* Rating */
.rating span {
  color: var(--orange);
  margin: 0.1rem;
}
.rating span:last-child {
  color: var(--black);
}
/* Alert */
.loading {
  display: block !important;
}
.success {
  color: var(--greenAlert);
}
.danger {
  color: var(--redAlert);
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-warn {
  color: #fff;
  background-color: #f5a92e;
}
.alert-pending {
  color: rgb(70, 66, 66);
  background-color: #e3e6e7;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}
/* form */
.form {
  max-width: 60rem;
  margin: 0 auto;
}
.form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.form label {
  margin: 1rem 0;
}
/* DropDown */

.dropdown {
  display: inline-block;
  position: relative;
}
.dropdown-content {
  position: absolute;
  display: none;
  right: 0;
  min-width: 12rem;
  padding: 1rem;
  z-index: 1;
  background-color: #203040;
  margin: 0;
  margin-top: 0.4rem;
  border-radius: 0.5rem;
}
.dropdown:hover .dropdown-content {
  display: block;
}

/* Checkout Steps */
.checkout-steps > div {
  border-top: 0.3rem #c0c0c0 solid;
  color: #c0c0c0;
  flex: 1;
  padding: 1rem;
  font-weight: bold;
}
.checkout-steps > div.active {
  border-top-color: #f08000;
  color: #f08000;
}
/* Table */
.table {
  width: 100%;
  /* min-width: 30%; */
  border-collapse: collapse;
  overflow: scroll;
}
.table tbody tr:nth-of-type(odd) {
  background-color: #f4f4f4;
}
.table td,
.table th {
  text-align: left;
  border: 0.1rem solid #e4e4e4;
  padding: 0.5rem;
}
.table button {
  margin: 0 0.2rem;
}
/* Disabled*/
.disabled {
  opacity: 0.65;
  cursor: not-allowed;
}
/* Carousel */
.carousel .slide img {
  max-width: 30rem;
}
/* Search box */
.search button {
  border-radius: 0 0.5rem 0.5rem 0;
  border-right: none;
  margin-right: 0.5rem;
}
.search input {
  border-radius: 0.5rem 0 0 0.5rem;
  border-right: none;
  margin-left: 0.5rem;
}
.active {
  font-weight: bold;
}
/* Aside */
aside {
  position: fixed;
  width: 30rem;
  height: 100%;
  background-color: #efefef;
  z-index: 1000;
  transform: translateX(-30rem);
  transition: all 0.5s;
}
aside.open {
  transform: translateX(0);
}
button.open-sidebar {
  font-size: 3rem;
  padding: 0.2rem 0.5rem;
  margin: 0 0.5rem;
  background: none;
  color: #ffffff;
  cursor: pointer;
}
button.open-sidebar:hover {
  border-color: #ffffff;
}
aside ul {
  padding: 0;
  list-style: none;
}
aside li {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
button.close-sidebar {
  padding: 0.3rem 0.8rem;
}
